@tailwind base;
@tailwind components;
@tailwind utilities;

/*화면 높이 100vh로 줄 때 생기는 스크롤 없애기*/

@media screen and (min-width: 1401px), screen and (min-height: 701px) {
    #help {
        color: rgba(0, 0, 0, 0);
    }
}

.modal_shake {
    animation-name: shaking;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes shaking {
    0% {
        transform: rotate(0deg);
    }
    33% {
        transform: rotate(20deg);
    }
    66% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* 로딩 스피너 version 1 */
.circle {
    fill: white;
    stroke: #ADD4AB;
    stroke-width: 5px;
    /* stroke-dasharray: 110;    시작 */
    /* stroke-dasharray: 320;  끝 */
    animation-name: turning;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

@keyframes turning {
    0% {
        stroke-dasharray: 0;
    }
    100% {
        stroke-dasharray: 320;
        transform: rotate(360deg);
    }
}

/* 로딩 스피너 version 2 */
.loader {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      position: relative;
      animation: rotate 1s linear infinite
    }
    .loader::before {
      content: "";
      box-sizing: border-box;
      position: absolute;
      inset: 0px;
      border-radius: 50%;
      border: 5px solid #000;
      animation: prixClipFix 2s linear infinite ;
    }

    @keyframes rotate {
      100%   {transform: rotate(360deg)}
    }

    @keyframes prixClipFix {
        0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
        25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
        50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
        75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
        100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
    }